:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}



.kumbh-sans-400 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}
.kumbh-sans-700 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    background-color: var(--dark-cyan);
        background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    /* background: url('../images/bg-pattern-top.svg') top -24.375rem left -27.5rem/40.625rem  no-repeat, url('../images/bg-pattern-bottom.svg') bottom -21.25rem right -27.8125rem/40.9375rem  no-repeat, var(--dark-cyan); */
    /* background: url('../images/bg-pattern-top.svg') top -18.75rem left 1.875rem/40.9375rem  no-repeat, url('../images/bg-pattern-bottom.svg') bottom -45rem right -17.1875rem/65.9375rem no-repeat, var(--dark-cyan); */
    /* background: url('../images/bg-pattern-top.svg') top clamp(-24.375rem, -26.3556rem + 8.4507vw, -18.75rem) left clamp(-27.5rem, -36.5229rem + 38.4977vw, 1.875rem)/clamp(40.625rem, 40.5150rem + 0.4695vw, 40.9375rem) no-repeat, 
    url('../images/bg-pattern-bottom.svg') bottom clamp(-21.25rem, -53.3627rem + 35.6808vw,  -45rem) right clamp(-27.8125rem, -31.5537rem + 15.9624vw, -17.1875rem)/clamp(40.9375rem, 32.1347rem + 37.5587vw, 65.9375rem) no-repeat, var(--dark-cyan); */
   
    
}

.card {
    display: flex;
    flex-direction: column;
    background: white url('../images/bg-pattern-card.svg') no-repeat;
    justify-content: center;
    align-items: center;
    inline-size: clamp(20.4rem, 19.9070rem + 2.1033vw, 21.8rem);
    block-size: clamp(23.3rem, 23.2296rem + 0.3005vw, 23.5rem);
    
    border-radius: 15px;
   

}
.category {
    font-size: 0.8rem;
}
.img {
    margin-block-start: 5.4rem;
    margin-block-end: 0.95rem;
    border: 5px solid white;
    border-radius: 90px;
    flex: 1;
}

.loc {
    font-size: 0.9rem;
    /* flex: 1; */
    padding-block-start: 0.3rem;
}
.profile-info-con {
    display: flex;
    /* flex: 1; */
    align-items: baseline;
    
   
}
.profile-info-con>h1 {
    font-size: 1.1rem;
    margin-inline-end: 0.5rem;
    padding-inline-start: 0.9rem;
    padding-inline-end: 0rem;
    
}
.profile-info-con>p {
    font-size: 1rem;
    padding-inline-start: 0.23rem;
    padding-inline-end: 0.8rem;
}
.num {
    font-size: 1.2rem;
}
.stats-con {
    display: flex;
    /* padding-inline-end: 0.5rem; */
    flex: 1;
    border-top: 1px solid var(--very-dark-desaturated-blue);
    margin-block-start: 1.5rem;
    padding-block-start: 1.2rem;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;

}
.stats-con>div>p:nth-child(2) {
    color: var(--dark-gray);
}
.stats-con>div:first-child {
    padding-inline-start: 0.5rem;
}

.stats-con>div:nth-child(2) {
    padding-inline-end: 0.7rem;
}
.stats-con>div:last-child {
    padding-inline-end: 0.9rem;
}

