:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}



.kumbh-sans-400 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}
.kumbh-sans-700 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-image: url('/images/bg-pattern-card.svg');
    justify-content: center;
    align-items: center;
    inline-size: 20.4rem;
    block-size: 23.3rem;
    border-radius: 15px;
}
.img {
    margin-block-start: 2rem;
    border: 5px solid white;
    border-radius: 90px;
}
.profile-info-con {
    display: flex;
}

.stats-con {
    display: flex;

}